---
import { getCollection, type CollectionEntry } from "astro:content";
import Bio from "../../components/Bio.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
const { Content } = await post.render();
const { title, description, publishDate } = post.data;
const { slug } = post;
const permalink = `${Astro.site!.href}blog/${slug}`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <header class="text-center">
    <!-- <p>{publishDate} ~ {readingTime}</p> -->
    <p class="text-[--text-2] uppercase font-semibold">
      <FormattedDate date={publishDate} />
    </p>
    <h1 class="font-bold text-5xl xl:text-6xl mb-3">{title}</h1>
    <hr class="min-w-[100px] w-1/3" />
  </header>
  <div class="container">
    <!-- <article class="content"> -->
    <article class="prose lg:prose-xl dark:prose-invert prose-hr:border-none">
      <Content />
    </article>
    <hr class="my-5" />
    <Bio />
  </div>
</BaseLayout>
