---
import { getCollection, type CollectionEntry } from "astro:content";
import Bio from "../../components/Bio.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  // const posts = await Astro.glob("../../data/blog-posts/*.md");
  // return posts.map((p) => ({
  //   params: { slug: p.file.split("/").pop()!.split(".").shift() },
  //   props: { post: p },
  // }));
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
const { Content } = await post.render();
// const { Content, frontmatter } = Astro.props.post;
const { title, description, publishDate } = post.data;
const { slug } = post;
const permalink = `${Astro.site!.href}blog/${slug}`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <header>
    <!-- <p>{publishDate} ~ {readingTime}</p> -->
    <p>
      <FormattedDate date={publishDate} />
    </p>
    <!-- <p>{publishDate}</p> -->
    <h1>{title}</h1>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>
    <hr />
    <Bio />
  </div>
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    /* font-family: var(--font-family-sans); */
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
