---
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const title = "Blog";
const description = "Latest articles.";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
);
---

<Layout title="" description="">
  <h1 class="text-4xl font-extrabold pb-8">Blog</h1>
  {
    posts.map((post, index) => {
      const href = `/blog/${post.slug}`;
      return (
        <a href={href}>
          <Card>
            <CardHeader>
              <CardTitle>{post.data.title}</CardTitle>
              <CardDescription>
                {post.data.publishDate.toDateString()}
              </CardDescription>
            </CardHeader>
            <CardContent>
              <p>{post.data.description}</p>
            </CardContent>
          </Card>
        </a>
      );
    })
  }
</Layout>
