---
import BlogCard from "@/components/BlogCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const title = "Ryan Miville";
const description = "Web developer and data engineer.";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
);
---

<Layout title={title} description={description}>
  <div class="mt-16 mb-20">
    <h1 class="font-extrabold text-4xl">Hi, I'm Ryan Miville</h1>
    <div class="text-stone-700 dark:text-stone-300 mt-2 text-lg">
      <p>
        a software engineer with a focus on data-heavy apps and developer
        experience. I'm also passionate about music and art. I occasionally try
        to merge these things into something interesting.
      </p>
    </div>
  </div>
  {
    posts.map((post) => {
      const href = `/blog/${post.slug}`;
      return (
        <a href={href}>
          <BlogCard post={post} />
        </a>
      );
    })
  }
</Layout>
